*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 /* Utilità */
.container{
    max-width: 1110px;
    margin: 0 auto;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
}

.row{
    width: 100%;
}

.col{
    float: left;
    width: calc(100% / 3 - 24px);
    margin: 12px;
    background-color: rgb(15, 15, 22);
}

.content{
    color: white;
    text-align: left;
}

.content img{
    width: 34%;
    float: left;
    padding-right: 15px;
}

/* Fine Utilità */

h1{
   color: rgb(229, 48, 113);
   font-family: 'Fredoka', sans-serif;
   font-weight: 700;
   margin: 2.5rem;
}

.did-titolo{
    margin: 2.5rem;
}

.link{
    color: rgb(117, 189, 183);
}

.text{
    line-height: 25px;
    padding: 10px;
}
